/* 12-grid system */
.row { display: flex; flex-wrap: wrap; }

.row [class*="col-"] { box-sizing: border-box; padding: 0 24px; }

.row .col-1, .row .col-1-sm { width: 8.33333%; }

.row .col-2, .row .col-2-sm { width: 16.66667%; }

.row .col-3, .row .col-3-sm { width: 25%; }

.row .col-4, .row .col-4-sm { width: 33.33333%; }

.row .col-5, .row .col-5-sm { width: 41.66667%; }

.row .col-6, .row .col-6-sm { width: 50%; }

.row .col-7, .row .col-7-sm { width: 58.33333%; }

.row .col-8, .row .col-8-sm { width: 66.66667%; }

.row .col-9, .row .col-9-sm { width: 75%; }

.row .col-10, .row .col-10-sm { width: 83.33333%; }

.row .col-11, .row .col-11-sm { width: 91.66667%; }

.row .col-12, .row .col-12-sm { width: 100%; }

@media (max-width: 768px) { .row .col-1 { width: 100%; }
  .row .col-2 { width: 100%; }
  .row .col-3 { width: 100%; }
  .row .col-4 { width: 100%; }
  .row .col-5 { width: 100%; }
  .row .col-6 { width: 100%; }
  .row .col-7 { width: 100%; }
  .row .col-8 { width: 100%; }
  .row .col-9 { width: 100%; }
  .row .col-10 { width: 100%; }
  .row .col-11 { width: 100%; }
  .row .col-12 { width: 100%; } }
