/* default variables */
$columns: 12;
$flexGrow: 0;
$mobileWidth: 768px;
$padding: 12px;
$suffix: -m;

/* round decimal value to ceiling */
@function decimal-ceil ($number, $digits: 0, $n: 1) {
    @for $i from 1 through $digits { $n: $n * 10; }
    @return ceil($number * $n) / $n;
}

/* a: prepend, b: append: v: value */
@mixin writeColumns($a: '', $b: '', $v: null){
    $value: $v;
    @for $i from 1 through $columns {
        $value: if($v, $value, percentage(decimal-ceil(($i / $columns), 6)));
        #{$a}#{$i}#{$b} {
            width: $value;
        }
    }
}

/* GRIX default column system */
.row {
    display: flex;
    flex-wrap: wrap;
}
[class*="col-"] {
    box-sizing: border-box;
    padding: 0 $padding;
    flex-grow: $flexGrow;
}
.col {
    box-sizing: border-box;
    -ms-flex-preferred-size: 0;
    -ms-flex-positive: 1;
    flex: 1 0 0;
    padding: 0 $padding;
    width: 100%;
}
@include writeColumns('.col-', $suffix);
@include writeColumns('.col-');

/* mobile column system */
@media(max-width: $mobileWidth) {
    @include writeColumns('[class*="col-"].col-', $suffix);
    @include writeColumns('.col-', '', 100%);
}