@function decimal-ceil ($number, $digits: 0, $n: 1) {
    /* round decimal value to ceiling */
    @for $i from 1 through $digits { $n: $n * 10; }
    @return ceil($number * $n) / $n;
}

/* GRIX default 12-column system */
.row {
    display: flex;
    flex-wrap: wrap;

    [class*="col-"] {
        box-sizing: border-box;
        padding: 0 24px;
        flex-grow: 1;

        &[class*="-sm"]{
            flex-grow: 0;
        }
    }

    @for $i from 1 through 12 {
        .col-#{$i},
        [class*="col-"].col-#{$i}-sm {
            width: decimal-ceil(percentage($i / 12), 4);
        }
    }
}

/* mobile 12-column system */
@media(max-width:768px){
    .row {
        @for $i from 1 through 12 {
            .col-#{$i} {
                width: 100%;
            }
        }
    }
}